@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
    
}

header {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}
.header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.logo {
    height: 4rem;
    width: 10rem;
    background-image: url("logo.png");
    margin-left: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 5vw;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}


.hero-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero-content h1{
    font-size:8vmin;
    
    
}
.hero-content p{
    font-size:1.2em;
}
.offer{
    background-color: #149F39;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}
.explore{
    background-color: #FFC064;
    align-self: flex-start;
    text-align: center;
    padding: 10px 20px;
    color: black;
}
.features{
    display: flex;
    justify-content:center;
    margin-top: 80px;
    margin: 50px;
}
.ot{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width:50%;
}
.feature-content{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.feature-content img{
    width: 80px;
    height: 80px;
}
.msg{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.divider{
    background-color: rgb(208, 201, 201);
    width: 100%;
    height: 1px;
}

.grid{
    gap: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "it1 it1 it2 it3"
                         "it1 it1 it2 it7"
                         "it4 it5 it6 it7"
                         "it8 it8 it9 it9"
                         "it10 it10 it11 it11 "
                         "it10 it10 it12 it12 ";
                        
}
.grid-img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.ip:hover{
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
}                
.item1{
    grid-area: it1;
}
.item2{
    grid-area: it2;
}
.item3{
    grid-area: it3;
}
.item4{
    grid-area: it4;
}

.item5{
    grid-area: it5;
}

.item6{
    grid-area: it6;
}

.item8{
    grid-area: it8;
}
.item7{
    grid-area: it7;
}
.item9{
    grid-area: it9;
}
.item10{
    grid-area: it10;
}
.item11{
    grid-area: it11;
}
.item12{
    grid-area: it12;
}
.ppp{
    display: flexbox;
    justify-content: center;
    align-items: center;

}
footer{
    margin-top: 50px;
}
.foot{
    padding: 30px;
    
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(243, 233, 233);
}
li{
    list-style-type: none;
    padding-bottom: 5px;
}
.foot h3{
    color: rgb(75, 74, 74);
    padding-bottom: 10px;
}
i{
    font-size: 1.6rem;
    padding-right: 10px;
    padding-top: 10px;
}
input{
    width: 100%;
    padding: 10px;
}
h3,h2,h4{
    font-weight: 800;
}

@media(max-width:786px){
    .hero {
        flex-direction: column;
        
        margin-top: 30px;
        gap: 50px;

       
    }
    .hero-content{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .hero-content h1{
        font-size: 35px;
        
    }
    .hero-content {
        text-align: center;
    }
    .offer,.explore{
        justify-content: center;
        align-self: center;
    }
    .hero-img{
        display: flex;
        justify-content: center;
    }
    .hero-img img{
        width: 80%;
    }
    .features{
        flex-direction: column;
        box-shadow: none;
    }
    section{
        display: flex;
        justify-content: center;
    }
    .grid{
        width: 90%;
        display: grid;
        grid-row: 7;
        grid-column: 1;
        
    }
    .grid-img{
        border-radius: 6px;
        
    }
    .foot{
        flex-direction: column;
    }
    ul{
        padding: 10px;    }
        input{
            width: 50%;
            padding: 5px;
        }
    .lo{
        margin-left: -1px;
        width: 8rem;
    }
    
}
